{{> header}}
<link rel="stylesheet" href="css/signin.css">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column" style="padding-top:9%">
			<div class="row clearfix" >
				<blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>
			</div>
			<div class="row clearfix">
				<ul id="autoplay" class="gallery content-slider list-unstyled clearfix lightSlider lSSlide">
	          <li >
	              <h3><img src="resources/img/1.png"></h3>
	          </li>
	          <li >
	              <h3><img src="resources/img/2.png"></h3>
	          </li>
	          <li >
	              <h3><img src="resources/img/3.png"></h3>
	          </li>
	          <li >
	              <h3><img src="resources/img/1.png"></h3>
	          </li>
	          <li >
	              <h3><img src="resources/img/3.png"></h3>
	          </li>
	          <li >
	              <h3><img src="resources/img/4.png"></h3>
	          </li>
	      </ul>
		</div>
		</div>
		<div class="col-md-6 column">

			<form role="form" id="registerform" name="registerForm">
			<h2>Please Sign Up <small>It's free and always will be.</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="form-group">
						<input type="text" name="name" id="name" class="form-control input-md" placeholder="Name" tabindex="1">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-md" placeholder="Email Address" tabindex="2">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password" tabindex="3">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-md" placeholder="Confirm Password" tabindex="4">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="text" name="address" id="address" class="form-control input-md" placeholder="Address" tabindex="5">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="municipality" id="municipality" class="form-control input-md" placeholder="Municipality" tabindex="6">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="district" id="district" class="form-control input-md" placeholder="District" tabindex="7">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					  <div class="form-group">
					    <label for="birth" class="col-md-3 control-label input-md">Birthdate</label>
					    <div class="col-md-9">
								<input type="text" name="birthdate" class="form-control input-md" id="birth" placeholder="dd/mm/yyyy" tabindex="8">
					    </div>
					  </div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="col-xs-12 col-sm-6 col-md-6" >
	        <label class="radio inline">
	            <input type="radio" name="gender" value="female" tabindex="9"/>
	            Female
	        </label></div>
					<div class="col-xs-12 col-sm-6 col-md-6">
	        <label class="radio inline">
	            <input type="radio" name="gender" value="male" tabindex="10" checked="true"/>
	            Male
	         </label></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-12 col-sm-6 col-md-6" >
					<label class="radio inline">
							<input type="checkbox" name="occupation" value="student" tabindex="11"/>
							Student
					</label></div>
					<div class="col-xs-12 col-sm-6 col-md-6">
					<label class="radio inline">
							<input type="checkbox" name="occupation" value="employee" tabindex="12"/>
							Employee
					</label></div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="workplace" id="occupation" class="form-control input-md" placeholder="Where?" tabindex="13">
					</div>
			  </div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<input type="submit" value="Register" class="btn btn-primary btn-block btn-md" tabindex="14">
				</div>
			</div>
		</form>
		<br>
		<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:right">
			<div class="col-xs-12 col-sm-6 col-md-6"></div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="/registerorg">Create an organization account</a><br>
				<a href="/recovery">Forgot your password?</a>
			</div>
		</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
	</div>
</div>
{{> scripts}}
<script src="js/signUpUser.js"></script>
<script>
$(document).ready(function() {
  $('#autoplay').lightSlider({
    auto:true,
    loop:true
  });
});
</script>
{{> footer}}
