{{> header}}
<link rel="stylesheet" href="css/signin.css">
<div class="container">
  <h2 class="form-signin-heading text-center">Problems signing in?</h2>
  <h4 class="form-signin-heading text-center">Enter your registered email and <br>we’ll send instructions to get you back on your feet.</h4>
  <form class="form-signin" id="recoveryform">
    <label>Registered email</label>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Send Email</button>
  </form>
</div>
<!-- /container -->
{{> scripts}}
<script>
  $("#recoveryform").submit(function(event) {
    var frm = $('#recoveryform');
    var frmdata = frm.serializeArray();

    var data = {
      email: frmdata[0].value
    };

    $.ajax({
      url: '/recovery',
      type: 'POST',
      data: data,
      datatype: 'json',
      success: function(message) {
        if (message.success)
          swal({
            allowOutsideClick: true,
            title: "Request completed!",
            text: "Please verify your inbox.",
            type: "success"
          });
      }
    });
    //window.location.reload(true);
    event.preventDefault();
  });
</script>
{{> footer}}
