{{> header}}
<div class="container">
  <div class="row">
    {{> sidebar}}
      <div class="col-sm-6 col-md-offset-1 col-md-10 main">
        <form id="editInfo">
          <div class="col-md-offset-1 col-md-5">
            <!-- Form Name -->
            <legend>Configure</legend>
<!--
            <div class="form-group">
              <label for="newEmail">New Email</label>
              <input type="email" name="inNewEmail" class="form-control">
            </div>

            <div class="form-group">
              <label for="confirmEmail">Confirm New Email</label>
              <input type="email" name="inConfirmEmail" class="form-control">
            </div>
-->
            <label for="address">Address</label>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
              <input type="text" name="address" class="form-control" value={{address.address}}>
            </div>
            </div>
            </div>

              <label for="municipality">Municipality</label>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
              <input type="text" name="municipality" class="form-control" value={{address.municipality}}>
            </div>
          </div>
            </div>

              <label for="district">District</label>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
              <input type="text" name="district" class="form-control" value={{address.district}}>
            </div>
          </div>
            </div>

              <label for="workplace">School/Workplace</label>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
              <input type="text" name="workplace" class="form-control" value={{workplace}}>
            </div>
          </div>
            </div>

              <label for="cv">Link to CV</label>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
              <input type="text" name="cv" class="form-control" value={{cv}}>
              </div>
            </div>
            </div>

          </div>
          <br></br><br>
          <div class="col-md-offset-1 col-md-4">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-skype"></i></div>
                <input class="form-control" name="skype" type="text" placeholder="skype" value={{networks.skype}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-facebook">&nbsp;</i></div>
                <input class="form-control" name="facebook" type="text" placeholder="facebook" value={{networks.facebook}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-flickr"></i></div>
                <input class="form-control" name="flickr" type="text" placeholder="flickr" value={{networks.flickr}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-instagram"></i></div>
                <input class="form-control" name="instagram" type="text" placeholder="instagram" value={{networks.instagram}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-linkedin"></i></div>
                <input class="form-control" name="linkedin" type="text" placeholder="linkedin" value={{networks.linkedin}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-twitter"></i></div>
                <input class="form-control" name="twitter" type="text" placeholder="twitter" value={{networks.twitter}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-github"></i></div>
                <input class="form-control" name="github" type="text" placeholder="github" value={{networks.github}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-google-plus"></i></div>
                <input class="form-control" name="gplus" type="text" placeholder="gplus" value={{networks.gplus}}>
              </div>
            </div>
          </div>
          <div class="col-md-12"><hr></div>
          <div class="col-md-offset-1 col-md-11">

            <label for="areasInterest">Areas of interest</label>
            <br>
            <div class="col-md-6">
              <ul class="causes-list">
                <li><label class="checkbox"><input name="interestField" id="Animal Welfare" value="Animal Welfare"  type="checkbox" tabindex="11">Animal Welfare</label></li>
                <li><label class="checkbox"><input name="interestField" id="Arts and Culture" value="Arts and Culture" type="checkbox" tabindex="12">Arts and Culture</label></li>
                <li><label class="checkbox"><input name="interestField" id="Children" value="Children" type="checkbox" tabindex="13">Children</label></li>
                <li><label class="checkbox"><input name="interestField" id="Civil Rights and Social Action" value="Civil Rights and Social Action"  type="checkbox" tabindex="14">Civil Rights and Social Action</label></li>
                <li><label class="checkbox"><input name="interestField" id="Disaster and Humanitarian Relief" value="Disaster and Humanitarian Relief" type="checkbox" tabindex="15">Disaster and Humanitarian Relief</label></li>
                <li><label class="checkbox"><input name="interestField" id="Economic Empowerment"  type="checkbox" value="Economic Empowerment"  type="checkbox" tabindex="16">Economic Empowerment</label></li>
                <li><label class="checkbox"><input name="interestField" id="Education" value="Education"  type="checkbox" tabindex="17">Education</label></li>
                <li><label class="checkbox"><input name="interestField" id="Environment" value="Environment" type="checkbox" tabindex="18">Environment</label></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="causes-list">
                <li><label class="checkbox"><input name="interestField" id="Health" value="Health"  type="checkbox" tabindex="19">Health</label></li>
                <li><label class="checkbox"><input name="interestField" id="Human Rights" value="Human Rights"  type="checkbox" tabindex="20">Human Rights</label></li>
                <li><label class="checkbox"><input name="interestField" id="Politics" value="Politics" type="checkbox" tabindex="21" >Politics</label></li>
                <li><label class="checkbox"><input name="interestField" id="Poverty Alleviation" value="Poverty Alleviation" type="checkbox" tabindex="22">Poverty Alleviation</label></li>
                <li><label class="checkbox"><input name="interestField" id="Science and Technology" value="Science and Technology" type="checkbox" tabindex="23">Science and Technology</label></li>
                <li><label class="checkbox"><input name="interestField" id="Social Services" value="Social Services"  type="checkbox" tabindex="24">Social Services</label></li>
                <li><label class="checkbox"><input name="interestField" id="Other" value="Other" type="checkbox" tabindex="25">Other</label></li>
              </ul>
            </div>
            <div class="col-md-12">
              <br>
              <button style="float:right" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    {{> suggestedSidebar}}
  </div>
</div>

{{> scripts}}
<script src="js/user/editConfigs.js">
</script>
<script>
  $( document ).ready(function() {
    var oldCauses = "{{causes}}".split(",");
    for(var j=0;j < oldCauses.length; j++)
      document.getElementById(oldCauses[j]).checked = true;
  });
</script>
{{> footer}}
