{{> header}}
<div class="container">
  <div class="row">
    {{> sidebar}}
      <div class="col-sm-6 col-md-offset-1 col-md-10 main">
        <div class="col-md-12">
          <div class="col-md-9">
            <div class="well">
              <p>Event XPTO</p>
              <a href="#"> link to the event's organization </a>
            </div>
            <div class="well">
              Event XPTO
            </div>
            <div class="well">
              Event XPTO
            </div>
          </div>ser
          <div class="col-md-3">

          </div>
        </div>
      </div>
    {{> suggestedSidebar}}
  </div>
</div>

{{> scripts}}
{{> footer}}
