{{> header}}
<link rel="stylesheet" href="css/timeline.css">
<div class="container">
  <div class="row">
    {{> sidebar}}
    <div class="col-sm-6  col-md-offset-1 col-md-10  main">
      <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">IEEE Help Others</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>20/12/2014</small>
              </p>
            </div>
            <div class="timeline-body">
              <p>IEEE Help Me</p>
              <button class="btn btn-primary">Apply</button>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-hand"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Porto for tommorrow</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>20/1/2015</small>
              </p>
            </div>
            <div class="timeline-body">
              <p>Helping make a better world. Join us to discuss ideias</p>
              <button class="btn btn-primary">Apply</button>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">IEEE Hour of Code</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2/2/2015</small>
              </p>
            </div>
            <div class="timeline-body">
              <p>Teach a language for free.</p>
              <button class="btn btn-primary">Apply</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {{> suggestedSidebar}}
  </div>
</div>
{{> scripts}} {{> footer}}
