{{> header}}
<link rel="stylesheet" href="css/timeline.css">
<div class="container">
  <div class="row">
    {{> sidebar}}

    <div class="col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10  main">
      <ul class="timeline">
        {{#events}}
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
          </div>
          <div class="timeline-panel event">
            <div class="timeline-heading">
              <h4 class="timeline-title eventname" data-id="{{org_email}}">{{name}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><time class="datestamp" datetime="{{date.end}}"><time></small>
              </p>
            </div>
            <div class="timeline-body">
              <p>{{description}}</p>
              <button class="btn btn-primary apply">Apply</button>
            </div>
          </div>
        </li>
        {{/events}}
      </ul>
    </div>
    {{> suggestedSidebar}}
  </div>
</div>
{{> scripts}}
<script>
  $('.apply').click(function() {
    if ($(this)) {
      var tempname = $(this).closest('.event').find('.eventname').text();
      var orgmail = $(this).closest('.event').find('.eventname').data("id");
      console.log(tempname)
      swal({
          title: "Confirmation",
          text: "You will apply to this event.",
          type: "info",
          showCancelButton: true,
          confirmButtonColor: "#2ecc71",
          confirmButtonText: "Yes, apply!",
          closeOnConfirm: false
        },
        function() {

          var datasend = {
            name: tempname,
            org_email: orgmail,
            user_email: user
          };
          console.log(datasend);
          $.ajax({
            url: '/eventapply',
            type: 'POST',
            data: datasend,
            success: function(data) {
              if (data.success)
                swal("Done!", "You are now part of this event.", "success");
              else
                swal("Ups!", "You have already applied to this event.", "error");
            },
            error: function(xhr, desc, err) {
              console.log(xhr);
              console.log("Desc: " + desc + "\nErr:" + err);
            }

          })

        });
    }
  });
  $('.datestamp').each(function() {
    var temp = new Date($(this).attr('datetime'));
    $(this).text(temp.getDay() + "/" + temp.getMonth() + "/" + temp.getFullYear());
  });
</script>
{{> footer}}