{{> header}}
<link rel="stylesheet" type="text/css" href="css/profileorg.css">
<div class="container-fluid">
  <div class="row">
    {{> sidebar}}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main fill">
      <!--Image Carousel-->
      <div class="col-sm-12 col-md-12">
        <!--Image Carousel-->
        <div class="row clearfix">
          <ul id="autoplay" class="gallery content-slider list-unstyled clearfix lightSlider lSSlide topimg">
            {{#org.images}}
            <li>
              <img src="{{.}}">
            </li>
            {{/org.images}}
          </ul>
        </div>
        <div class="row clearfix">
          <div class="col-sm-3 col-md-3">
            <div class="text-center" id="imgprof">
            </div>
            <br> {{#org.recruitment.status}}
            <button type="button" id="recruit" class="btn btn-block btn-primary" data-toggle="modal" data-target="#myModal">Open Recruitment</button>
            {{/org.recruitment.status}}
            <br>
            <h3>Causes we defend:</h3>
            <h4>
            <ul>
              {{#org.causes}}
              <li>{{.}}</li>
              {{/org.causes}}
            </ul>
          </h4>
          </div>
          <div class="col-sm-5 col-md-5">
            <div class="col-sm-12 col-md-12">
              <h1>{{org.name}}</h1>
            </div>
            <div class="col-sm-12 col-md-12">
              <address>
              <b>Email: </b> {{org.email}}<br>
              <b>Address: </b> {{org.address.address}}, {{org.address.municipality}},  {{org.address.district}}<br>
              <b>Website: </b> {{org.website}}<br>
              <b>Skype: </b> {{org.networks.skype}}
              <h4>
               {{#org.networks.linkedin}}
                 <a title="LinkedIn" target="_blank" href="{{org.networks.linkedin}}"><i class="fa fa-linkedin"></i></a>&nbsp;
               {{/org.networks.linkedin}}
               {{#org.networks.facebook}}
                 <a title="Facebook" target="_blank" href="{{org.networks.facebook}}"><i class="fa fa-facebook"></i></a>&nbsp;
               {{/org.networks.facebook}}
               {{#org.networks.twitter}}
                 <a title="Twitter" target="_blank" href="{{org.networks.twitter}}"><i class="fa fa-twitter"></i></a>&nbsp;
               {{/org.networks.twitter}}
               {{#org.networks.github}}
                 <a title="GitHub" target="_blank" href="{{org.networks.github}}"><i class="fa fa-github"></i></a>&nbsp;
               {{/org.networks.github}}
               {{#org.networks.gplus}}
                 <a title="Google Plus" target="_blank" href="{{org.networks.gplus}}"><i class="fa fa-google-plus"></i></a>&nbsp;
               {{/org.networks.gplus}}
               {{#org.networks.flickr}}
                 <a title="Flickr" target="_blank" href="{{org.networks.flickr}}"><i class="fa fa-flickr"></i></a>&nbsp;
               {{/org.networks.flickr}}
               {{#org.networks.instagram}}
                 <a title="Instagram" target="_blank" href="{{org.networks.instagram}}"><i class="fa fa-instagram"></i></a>
               {{/org.networks.instagram}}
             </h4>
            </address>
              </h4>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <h3>About Us</h3>
            <p>{{org.about}}</p>
          </div>
          <div class="col-sm-9 col-md-9">
            <hr> {{#events}}
            <div class="event">
              <div class="row">
                <div class="col-sm-9 col-md-9">
                  <h3 class="eventname">{{name}}</h3>
                </div>
                <div class="col-sm-3 col-md-3">
                  <h3><time class="datestamp" datetime="{{date.end}}"><time></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-9 col-md-9">
                  <p>{{description}}</p>
                </div>
                <div class="col-sm-3 col-md-3">
                  <button class="apply btn btn-primary btn-block">Apply!</button>
                </div>
              </div>
            </div>
            {{/events}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Recruitment form</h4>
      </div>
      <div class="modal-body">
        <h3>Motivation (What you want to do, etc...)</h3>
        <textarea id="textToSend" style="resize:none" name="name" cols="70" rows="5"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submitRecruit" type="button" class="btn btn-primary" data-dismiss="modal">Send request!</button>
      </div>
    </div>
  </div>
</div>


{{> scripts}}
<script>
  $("#submitRecruit").click(function() {
    $.ajax({
      url: '/recruitmentApply',
      type: 'POST',
      data: {
        motivation: $("#textToSend").val(),
        org_email: "{{org.email}}"
      },
      success: function(data) {

        if (data.success)
          swal("Done!", "You are applied to this recuitment.", "success");
        else
          swal("Error!", "Something has gone wrong.", "error");
      },
      error: function(xhr, desc, err) {
        console.log(xhr);
        console.log("Desc: " + desc + "\nErr:" + err);
      }

    });

  })
  $(document).ready(function() {
    $('#autoplay').lightSlider({
      item: 1,
      verticalHeight: 200,
      vThumbWidth: 50,
      auto: true,
      loop: true,
      slideMargin: 0
    });
  });
  $('#imgprof').html('<img class="img-thumbnail" src="' + get_gravatar("{{org.email}}", 180) + '">');

  $('.apply').click(function() {
    if ($(this)) {
      var tempname = $(this).closest('.event').find('.eventname').text();
      swal({
          title: "Confirmation",
          text: "You will apply to this event.",
          type: "info",
          showCancelButton: true,
          confirmButtonColor: "#2ecc71",
          confirmButtonText: "Yes, apply!",
          closeOnConfirm: false
        },
        function() {
          $.ajax({
            url: '/eventapply',
            type: 'POST',
            data: {
              name: tempname,
              org_email: "{{org.email}}",
              user_email: "{{user.email}}",
            },
            success: function(data) {
              if (data.success)
                swal("Done!", "You are now part of this event.", "success");
              else
                swal("Error!", "Something has gone wrong.", "error");
            },
            error: function(xhr, desc, err) {
              console.log(xhr);
              console.log("Desc: " + desc + "\nErr:" + err);
            }

          })

        });
    }
  });
</script>
{{> footer}}