<div class="col-sm-3 col-md-offset-10 col-md-2 sidebar" style="float:right">
  <ul class="nav nav-sidebar">
    Suggested Organizations
    <br>
    <li style="left:10px;"><a href="#" ><img src="img/organization1.png" height="75" width="75"> <b>Organization1</b></a></li>
    <br>
    <li style="left:10px;"><a href="#" ><img src="img/organization2.png" height="75" width="75"> <b>Organization2</b></a></li>
    <br>
    <li style="left:10px;"><a href="#" ><img src="img/organization3.png" height="75" width="75"> <b>Organization3</b></a></li>
  </ul>
</div>
