{{> header}}

<link rel="stylesheet" href="css/bootstrap-editable.css">
<link rel="stylesheet" href="css/profileuser.css">
<div class="container">
  <div class="row">
    {{> sidebar}}
    <div class="col-sm-6 col-md-offset-1 col-md-10 main">
      <div class="col-md-4">
        <img class="img-thumbnail" src="img/organization1.png" width="100%">
        <hr>
        <div>
          <a href="#"> Curriculum Vitae </a>
          <div>
            <h3> Causes you care about: </h3>
            <br>
            <p>Arts and Culture</p>
            <p>Environment</p>
            <p>Human Rights</p>
          </div>
        </div>
      </div>

      <div class="col-md-8 text-left">
        <div class="col-md-6 text-right">
          <span>Username:</span>
        </div>

        <div class="col-md-6 text-left">
          <a href="#" id="username" data-type="text" data-placement="right"
           data-title="Enter username">superuser</a>
        </div>

        <div class="">
          <span>Gender:</span>
          <a href="#" id="gender" data-type="text" data-placement="right" data-title="Enter gender">supergender</a>
        </div>


        <div class="">
          <span>Date of birth:</span>
          <a href="#" id="datebirth" data-type="text" data-placement="right" data-title="Enter datebirth">superdatebirth</a>
        </div>

        <div class="">
          <address>
            123 XPTO Ave<br>
            Porto, Portugal<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>

        <div class="">
          <span>Email:</span>
          <a href="#" id="email" data-type="text" data-placement="right" data-title="Enter email">superemail</a>
        </div>

        <div class="">
          <span>Work/School:</span>
          <a href="#" id="work" data-type="text" data-placement="right" data-title="Enter work">superwork</a>
        </div>
      </div>

    </div>
    {{> suggestedSidebar}}
  </div>
</div>

{{> scripts}}
<script src="js/bootstrap-editable.min.js"></script>
<script src="js/x-editable.js"></script>
{{> footer}}
