<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Acteam</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body>
    <style>
    h1 {font-size:80px;}
    span.glyphicon-warning-sign {font-size: 10em;}
    </style>

    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 text-center">
        <br><br>
        <h1>503</h1>
        <br>
        <span class="glyphicon glyphicon-warning-sign" id="warning"></span>
        <br><br>
        <h2>Service is temporarily unavailable! </h2>
        <br>
        <h3>We're sorry, a problem has occurred. Try again later. :(</h3>
      </div>
      </div>
    </div>
</body>
</html>
