{{> header}}
<div class="container">
  <div class="row">
    {{> sidebar}}
      <div class="col-sm-6 col-md-offset-1 col-md-10 main">
        <form class="form-horizontal editInfo">
          <div class="col-md-offset-1 col-md-5">


            <!-- Form Name -->
            <legend>Configure</legend>

            <div class="form-group">
              <label for="name">Organization Name</label>
              <input type="text" name="orgName" class="form-control" value={{org.name}}>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" value={{org.email}}>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" name="address" class="form-control" value={{org.address.address}}>
            </div>

            <div class="form-group">
              <label for="aboutus">About Us</label>
              <textarea style="resize: vertical" name="about" id="about" class="form-control input-md" placeholder={{org.about}} tabindex="9"></textarea>
            </div>

            <div class="form-group">
              <label for="images">Images</label>
              <input type="image" name="images" class="form-control">
            </div>

          </div>
          <div class="col-md-offset-1 col-md-4">
            <br></br><br></br>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-skype"></i></div>
                <input class="form-control" name="skype" type="email" placeholder="skype" value={{networks.skype}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-facebook">&nbsp;</i></div>
                <input class="form-control" name="facebook" type="email" placeholder="facebook" value={{networks.facebook}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-flickr"></i></div>
                <input class="form-control" name="flickr" type="email" placeholder="flickr" value={{networks.flickr}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-instagram"></i></div>
                <input class="form-control" name="instagram" type="email" placeholder="instagram" value={{networks.instagram}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-linkedin"></i></div>
                <input class="form-control" name="linkedin" type="email" placeholder="linkedin" value={{networks.linkedin}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-twitter"></i></div>
                <input class="form-control" name="twitter" type="email" placeholder="twitter" value={{networks.twitter}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-github"></i></div>
                <input class="form-control" name="github" type="email" placeholder="github" value={{networks.github}}>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-google-plus"></i></div>
                <input class="form-control" name="gplus" type="email" placeholder="gplus" value={{networks.gplus}}>
              </div>
            </div>
          </div>
          <div class="col-md-12"><hr></div>
          <div class="col-md-offset-1 col-md-11">

            <label for="areasInterest">Areas of interest</label>
            <br>
            <div class="col-md-6">
              <ul class="causes-list">
                <li><label class="checkbox"><input name="interestField" value="Animal Welfare"  type="checkbox" tabindex="11">Animal Welfare</label></li>
                <li><label class="checkbox"><input name="interestField" value="Arts and Culture" type="checkbox" tabindex="12">Arts and Culture</label></li>
                <li><label class="checkbox"><input name="interestField" value="Children" type="checkbox" tabindex="13">Children</label></li>
                <li><label class="checkbox"><input name="interestField" value="Civil Rights and Social Action"  type="checkbox" tabindex="14">Civil Rights and Social Action</label></li>
                <li><label class="checkbox"><input name="interestField" value="Disaster and Humanitarian Relief" type="checkbox" tabindex="15">Disaster and Humanitarian Relief</label></li>
                <li><label class="checkbox"><input name="interestField" value="Economic Empowerment"  type="checkbox" tabindex="16">Economic Empowerment</label></li>
                <li><label class="checkbox"><input name="interestField" value="Education"  type="checkbox" tabindex="17">Education</label></li>
                <li><label class="checkbox"><input name="interestField" value="Environment"  type="checkbox" tabindex="18">Environment</label></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="causes-list">
                <li><label class="checkbox"><input name="interestField" value="Health"  type="checkbox" tabindex="19">Health</label></li>
                <li><label class="checkbox"><input name="interestField" value="Human Rights"  type="checkbox" tabindex="20">Human Rights</label></li>
                <li><label class="checkbox"><input name="interestField" value="Politics" type="checkbox" tabindex="21" >Politics</label></li>
                <li><label class="checkbox"><input name="interestField" value="Poverty Alleviation" type="checkbox" tabindex="22">Poverty Alleviation</label></li>
                <li><label class="checkbox"><input name="interestField" value="Science and Technology" type="checkbox" tabindex="23">Science and Technology</label></li>
                <li><label class="checkbox"><input name="interestField" value="Social Services"  type="checkbox" tabindex="24">Social Services</label></li>
                <li><label class="checkbox"><input name="interestField" value="Other" type="checkbox" tabindex="25">Other</label></li>
              </ul>
            </div>
            <div class="col-md-12">
              <br>
              <button style="float:right" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    {{> suggestedSidebar}}
  </div>
</div>

{{> scripts}}
<script>
  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;

  };
  $(function() {
    $('form.editInfo').submit(function() {
      var formData = $("form.editInfo").serializeObject();
      console.log(formData);
    });
  });

</script>
{{> footer}}
