{{> header}}
<link rel="stylesheet" type="text/css" href="css/sb-admin-2.css">
<div class="container">
  <div class="row">
    {{> sidebar}}
    <div class="col-sm-6 col-md-offset-1 col-md-10 main">
      <!-- 10 spaces left -->
      <div class="col-md-12">
        <div class="col-lg-6 col-md-12">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="glyphicon glyphicon-calendar" style="font-size:52px;"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <h4>Future Events</h4>
                </div>
              </div>
            </div>
            <a href="#" id="open_events">
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="glyphicon glyphicon-inbox" style="font-size:52px;"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div>
                    <h4>Pending Members</h4>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" id="open_recruit">
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-12" id="details">
        {{> events}} {{> recruitment}}
      </div>
    </div>
  </div>
</div>
{{> scripts}}
<script>
  $('#open_events').click(function() {
    $("#events").show();
    $("#recruit").hide();
  });

  $('#open_recruit').click(function() {
    $("#recruit").show();
    $("#events").hide();
  });
  $('.datestamp').each(function() {
    var temp = new Date($(this).attr('datetime'));
    $(this).text(temp.getDay() + "/" + temp.getMonth() + "/" + temp.getFullYear());
  });

  function recruitAct(status, mail) {
    var dados;
    if (true) {
      dados = {
        accept: true,
        email: mail
      };
    } else {
      dados = {
        accept: false,
        email: mail
      };
    }

    $.ajax({
      url: '/recruitmentAction',
      type: 'POST',
      data: dados,
      success: function(data) {
        if (data.success) {
          swal({
              title: "Done!",
              text: "You stated this candidate!",
              type: "success",
              confirmButtonColor: "#AEDEF4",
              confirmButtonText: "Ok!",
              closeOnConfirm: false
            },
            function() {
              location.reload();
            });

        } else
          swal("Error!", "Something has gone wrong.", "error");
      },
      error: function(xhr, desc, err) {
        console.log(xhr);
        console.log("Desc: " + desc + "\nErr:" + err);
      }

    })
  }
  $("#accept").on("click", function() {
    recruitAct(true, $(this).attr('data-button'));
  });
  $("#recuse").on("click", function() {
    recruitAct(false, $(this).attr('data-button'));
  });
</script>

{{> footer}}