{{> header}}
<link rel="stylesheet" type="text/css" href="css/sb-admin-2.css">
<div class="container">
  <div class="row">
    {{> sidebar}}
    <div class="col-sm-6 col-sm-offset-2 col-md-offset-1 col-md-10 main">
      <!-- 10 spaces left -->
      <div class="col-md-12">
        <!-- Modal -->
        <div class="col-md-12">
          <h3>Want to create a new event?

              <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#newEventModal">

               New Event

              </button>

          </h3>
        </div>
        <div class="col-md-12">
          </hr>
          <div class="currentevents" id="currentevents">
            <div class="list-group">
              {{#events}}
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-8">
                    <h3>{{name}}</h3>
                  </div>
                  <div class="col-md-4 text-center">
                    <h5>Start Date:<br>

                       <time class="datestamp" datetime="{{date.start}}"><time></h5>
                    <h5>End Date:<br>

                       <time class="datestamp" datetime="{{date.end}}"><time></h5>
                  </div>
                  <div class="col-md-8">
                    <p>{{description}}</p>
                    <p>{{address.address}},{{address.municipality}},{{address.district}}</p>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="appliances btn btn-primary btn-block btn-md">
                      <h5>Applications</h5>
                    </button>
                  </div>
                  <div class="details col-md-12">
                    <table class="table table-hover" style="display:none">
                      <thead>
                        <tr>
                          <th>Details</th>
                          <th>Email</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>{{#people}} {{^status}}
                        <tr>
                          <td> <a href="/profileuser?email={{email}}" type="button" class="text-left btn btn-sm btn-primary">Open Profile</a>
                          </td>
                          <td>{{email}}</td>
                          <td>
                            <button data-id="{{name}}" data-button="{{email}}" type="button" class="appr btn btn-sm btn-block btn-success">Approve <span class="glyphicon glyphicon-ok"></span>
                            </button>
                          </td>
                        </tr>
                        {{/status}} {{#status}}
                        <tr>
                          <td> <a href="/profileuser?email={{email}}" type="button" class="text-left btn btn-sm btn-primary">Open Profile</a>
                          </td>
                          <td>{{email}}</td>
                          <td>Approved</td>
                        </tr>
                        {{/status}}{{/people}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              {{/events}}
            </div>
          </div>
        </div>
        <div class="modal fade" id="newEventModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">New event</h4>
              </div>

              <form id="createEvent" name="createEvent">
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <input name="name" type="text" class="form-control input-md" placeholder="Event Name">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <input name="startDate" type="datetime" class="form-control input-md" placeholder="Start Date - dd/mm/yyyy">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <input name="endDate" type="datetime" class="form-control input-md" placeholder="End Date - dd/mm/yyyy">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <textarea style="resize: none" rows="3" name="description" type="text" class="form-control input-md" placeholder="Description"></textarea>
                      </div>
                    </div>
                  </div>
                  <h3>Where?</h3>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <input name="address" type="text" class="form-control input-md" placeholder="Address">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <input name="municipality" type="text" class="form-control input-md" placeholder="Municipality">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <input name="district" type="text" class="form-control input-md" placeholder="District">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Create event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Modal -->
      </div>
    </div>
  </div>
</div>
{{> scripts}}
<script src="js/organization/createEvent.js"></script>
<script>
  $('.datestamp').each(function() {
    var temp = new Date($(this).attr('datetime'));
    $(this).text(temp.getDate() + '/' + (temp.getMonth() + 1) + '/' + temp.getFullYear());
  });

  $('.appliances').on('click', function() {
    $(this).parent().next().children().show();
  });

  $('.appr').on('click', function() {
    acceptDeny($(this).attr('data-id'), true, $(this).attr('data-button'));
  });
  $('.deni').on('click', function() {
    acceptDeny($(this).attr('data-id'), false, $(this).attr('data-button'));
  });

  function acceptDeny(eventname, status, mail) {
    var dados;
    if (status) {
      dados = {
        name: eventname,
        check: true,
        email: mail
      };
    } else {
      dados = {
        name: eventname,
        check: false,
        email: mail
      };
    }

    $.ajax({
      url: '/eventapplystatus',
      type: 'POST',
      data: dados,
      success: function(data) {
        if (data.success) {
          swal({
              title: "Done!",
              text: "Action completed!",
              type: "success",
              confirmButtonColor: "#AEDEF4",
              confirmButtonText: "Ok!",
              closeOnConfirm: false
            },
            function() {
              location.reload();
            });

        } else
          swal("Error!", "Something has gone wrong.", "error");
      },
      error: function(xhr, desc, err) {
        console.log(xhr);
        console.log("Desc: " + desc + "\nErr:" + err);
      }

    })
  }
</script>
{{> footer}}