{{> header}}
<link rel="stylesheet" type="text/css" href="css/sb-admin-2.css">
<div class="container">
    <div class="row">
        {{> sidebar}}
        <div class="col-sm-6 col-md-offset-1 col-md-10 main">
            <!-- 10 spaces left -->
            <div class="col-md-12">
                <!-- Modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newEventModal">
                    New Event
                </button>

                <div class="modal fade" id="newEventModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">New event</h4>
                            </div>

                             <form id="new_event">
                                 <div class="modal-body">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Name"><br>
                                        <input name="startdate" type="text" class="form-control" placeholder="Start Date"><br>
                                        <input name="enddate" type="text" class="form-control" placeholder="End Date"><br>
                                        <input name="description" type="text" class="form-control" placeholder="Description"><br>
                                        <h5>Where?</h5>
                                        <input name="address" type="address" class="form-control" placeholder="Address"><br>
                                        <input name="municipality" class="form-control" placeholder="Municipality"><br>
                                        <input name="district" class="form-control" placeholder="District"><br>
                                    </div>
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                     <button id="#submit" type="submit" class="btn btn-primary">Create event</button>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
        </div>
    </div>
</div>
{{> scripts}}
<script>
    $( "#new_event" ).submit( function(event){
      var frm = $('#new_event');
      var frmdata = frm.serializeArray();
      console.log(frmdata);
      var events = {
          name: frmdata[0].value,
          date:{
            start: frmdata[1].value,
            end: frmdata[2].value,
          },
          description: frmdata[3].value,
          address: {address: frmdata[4].value,
                    municipality: frmdata[5].value,
                    district: frmdata[6].value,
                   },
      };
//console.log(events);
      $.ajax({
          url: '/newevent',
          type: 'POST',
          data: {
            email: user,
            eventinfo:events
          },
          datatype: 'json',
          success: function(){
             alert("done");
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
             alert("error");
          }
      });
      event.preventDefault();
    });

</script>

{{> footer}}
