<div class="events" id="recruit" style="display: none;">
  <div class="col-md-12">
    <div class="list-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-8">
            <h3>Summer Recruitment</h3>
          </div>
          <div class="col-md-4 text-center">
            <h5>End Date:<br>
              22/22/2222</h5>
          </div>
          <div class="col-md-8">
            <p>Description xpto</p>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block">
              <h5>55 Aplications</h5>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
