<div class="events" id="recruit" style="display: none;">
  <div class="col-md-12">
    {{#org.recruitment.appliances}}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"> {{email}} </h3> </div>
      <div class="panel-body">
        <div class="col-md-8">{{letter}}</div>
        <div class="col-md-4">
          <button id="accept" data-button="{{email}}" type="button" class="btn btn-sm  btn-success">Accept</button>
          <button id="recuse" data-button="{{email}}" type="button" class="btn btn-sm  btn-danger">Recuse</button>
        </div>
      </div>
    </div>
    {{/org.recruitment.appliances}}
  </div>
</div>