{{> header}}

<div class="container">
  <div class="col-sm-12 col-sm-offset-2 col-md-offset-1 col-md-12 main">
    <div class="row">
      {{> sidebar}}
      <div class="col-md-6">
        <h3>Recruitment Management </h3>
      </div>
      {{#org.recruitment.status}}
      <div class="col-md-4 col-sm-4 col-sm-offset-1">
        <h3><button type="button" id="endRec" class="btn btn-block btn-primary">End recruitment</button></h3>
      </div>
      {{/org.recruitment.status}} {{^org.recruitment.status}}
      <div class="col-md-4">
        <h3><button type="button" id="startRec" class="btn btn-block btn-primary">Start recruitment</button></h3>
      </div>
      {{/org.recruitment.status}}
    </div>
    <div class="col-md-12">
      {{#org.recruitment.appliances}}
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a href="/profileuser?email={{email}}" type="button" class="text-left btn btn-sm btn-default">Open Profile</a> &nbsp; <a style="color:white" href="mailito:{{email}}">{{email}}</a>
          </div>
          <div class="panel-body">
            <div class="col-md-8">{{letter}}</div>
            <div class="col-md-4">
              <button data-button="{{email}}" type="button" class="accept btn btn-sm btn-block btn-success">Accept</button>
              <button data-button="{{email}}" type="button" class="recuse btn btn-sm btn-block btn-danger">Recuse</button>
            </div>
          </div>
        </div>
      </div>
      {{/org.recruitment.appliances}}
    </div>
  </div>
</div>
{{> scripts}}
<script>
  function recruitAct(status, mail) {
    var dados;
    if (true) {
      dados = {
        accept: true,
        email: mail
      };
    } else {
      dados = {
        accept: false,
        email: mail
      };
    }

    $.ajax({
      url: '/recruitmentAction',
      type: 'POST',
      data: dados,
      success: function(data) {
        if (data.success) {
          swal({
              title: "Done!",
              text: "You stated this candidate!",
              type: "success",
              confirmButtonColor: "#AEDEF4",
              confirmButtonText: "Ok!",
              closeOnConfirm: false
            },
            function() {
              location.reload();
            });

        } else
          swal("Error!", "Something has gone wrong.", "error");
      },
      error: function(xhr, desc, err) {
        console.log(xhr);
        console.log("Desc: " + desc + "\nErr:" + err);
      }

    })
  }
  $(".accept").on("click", function() {
    recruitAct(true, $(this).attr('data-button'));
  });
  $(".recuse").on("click", function() {
    recruitAct(false, $(this).attr('data-button'));
  });

  $("#startRec").on("click", function() {
    swal({
        title: "Open recruitment",
        text: "You will start a new recruitment!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirm",
        cancelButtonText: "Cancel",
        closeOnConfirm: false,
        closeOnCancel: true,
        allowOutsideClick: true,
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            url: '/recruitmentstage',
            type: 'POST',
            data: {
              action: "start"
            },
            success: function(data) {
              if (data.action === "started") {
                swal("Done!", "You started a recruitment.", "success");
                location.reload();
              } else
                swal("Error!", "Something has gone wrong.", "error");
            },
            error: function(xhr, desc, err) {
              console.log(xhr);
              console.log("Desc: " + desc + "\nErr:" + err);
            }

          })
        }
      });
  });
  $("#endRec").on("click", function() {
    swal({
        title: "Close recruitment",
        text: "You will end the recruitment stage!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirm",
        cancelButtonText: "Cancel",
        closeOnConfirm: false,
        closeOnCancel: false
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            url: '/recruitmentstage',
            type: 'POST',
            data: {
              action: "end"
            },
            success: function(data) {
              if (data.action === "end") {
                swal("Done!", "You started a recruitment.", "success");

              } else
                swal("Error!", "Something has gone wrong.", "error");
            },
            error: function(xhr, desc, err) {
              console.log(xhr);
              console.log("Desc: " + desc + "\nErr:" + err);
            }
          })
        }
      });
  });
</script>
{{> footer}}