{{> header}}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
      <form role="form" id="registerOrgform">
      <h2>Register your organization <small>It's free and always will be.</small></h2>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <input type="text" name="name" id="name" class="form-control input-md" placeholder="Name" tabindex="1">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" class="form-control input-md" placeholder="Email Address" tabindex="4">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-md" placeholder="Password" tabindex="5">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-md" placeholder="Confirm Password" tabindex="6">
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="address" id="address" class="form-control input-md" placeholder="Address" tabindex="4">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="municipality" id="municipality" class="form-control input-md" placeholder="Municipality" tabindex="5">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <input type="text" name="district" id="district" class="form-control input-md" placeholder="District" tabindex="6">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <textarea style="resize: vertical" name="about" id="about" class="form-control input-md" placeholder="About Us" tabindex="7"></textarea>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label for="birth" class="col-md-3 control-label input-md">Birthdate</label>
              <div class="col-md-9">
                <input type="date" name="birthdate" class="form-control input-md" id="birth" placeholder="mm/dd/yyyy">
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <div class="row">
              <label for="birth" class="col-md-3 control-label input-md">Causes you support?</label>
            </div>
            <div class="row">
            <div class="col-md-6">
              <ul class="causes-list">
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="animalRights" id="animalRights-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Animal Welfare</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="artsAndCulture" id="artsAndCulture-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Arts and Culture</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="children" id="children-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Children</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="civilRights" id="civilRights-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Civil Rights and Social Action</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="humanitarianRelief" id="humanitarianRelief-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Disaster and Humanitarian Relief</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="economicEmpowerment" id="economicEmpowerment-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Economic Empowerment</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="education" id="education-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Education</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="environment" id="environment-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Environment</label></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="causes-list">
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="health" id="health-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Health</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="humanRights" id="humanRights-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Human Rights</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="politics" id="politics-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Politics</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="povertyAlleviation" id="povertyAlleviation-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Poverty Alleviation</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="scienceAndTechnology" id="scienceAndTechnology-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Science and Technology</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="socialServices" id="socialServices-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Social Services</label></li>
                <li><label class="checkbox"><input name="volunteeringInterestsParam" value="other" id="other-volunteeringInterestsParam-editVolunteeringForm" type="checkbox">Other</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <input type="submit" value="Register" class="btn btn-primary btn-block btn-md" tabindex="7">
        </div>
      </div>
    </form>
    </div>
    <div class="col-md-2 column">
    </div>
  </div>
</div>
{{> scripts}}
{{> footer}}
