<div class="col-sm-3 col-md-2 sidebar" id="sidebar_org" style="display:block">
  <ul class="nav nav-sidebar">
    <li><a href="/">Dashboard</a>
    </li>
    <li><a href="/profileorg?org={{org.name}}">My Page</a>
    </li>
    <li><a href="#">My Promote</a>
    </li>
    <li><a href="#">My Recruitment</a>
    </li>
    <li><a href="/events">My Events</a>
    </li>
    <li><a href="#">My Members</a>
    </li>
    <li><a href="#">My Account</a>
    </li>
    <li><a href="/configureorg">Configure</a>
    </li>
    <li><a href="/searchorg">Search</a>
    </li>
  </ul>
</div>
