<div class="col-sm-3 col-md-2 sidebar" id="sidebar_org" style="display:block">
  <ul class="nav nav-sidebar">
    <li><a href="/">Dashboard</a>
    </li>
    <li><a href="/profileorg?org={{org.name}}">Page</a>
    </li>
    <li><a href="/recruitment">Recruitment</a>
    </li>
    <li><a href="/events">Events</a>
    </li>
    <li><a href="/members">Members</a>
    </li>
    <li><a href="/configureorg">Configure</a>
    </li>
    <li><a href="/searchorg">Search</a>
    </li>
    <li><a href="/promote">Promote</a>
    </li>
  </ul>
</div>