{{> header}}
<div class="container">
  <div class="row">
    {{> sidebar}}
    <div class="col-sm-6 col-md-offset-1 col-md-10 main">
  <div class="col-md-4">
    <div class="text-center" id="imgprof">
    </div>
    <hr>
    <div class="col-md-12">
      <center> <a href="{{user.cv}}"> <span class="glyphicon glyphicon-file"></span>Curriculum Vitae </a></center>
      <div>
        <center> <h4> Causes you care about: </h4> </center>
        <div class="col-md-offset-3">
          {{#user.causes}}
          <li>{{.}}</li>
          {{/user.causes}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 text-left">
    <div class="col-md-3">
      <br>
      <span> <span class="glyphicon glyphicon-user"></span> Personal Information </span>
    </div>
    <div class="col-md-8 well">
      <span>Name: {{user.name}} </span>
      <span style="display:block" >Gender: {{user.gender}} </span>
      <span>Date of birth: {{user.birthdate}}</span>

    </div>
  </div>
  <div class="col-md-8 text-left">
    <div class="col-md-3">
      <br>
      <span> <span class="glyphicon glyphicon-pushpin"></span> Address </span>
    </div>
    <div class="col-md-8 well">
        Address:{{user.address.address}}<br>
        Municipality:{{user.address.municipality}}<br>
        District: {{user.address.district}}<br>
    </div>
  </div>
  <div class="col-md-8 text-left">
    <div class="col-md-3">
      <br>
      <span> <span class="glyphicon glyphicon-user"></span> Contacts </span>
    </div>
    <div class="col-md-8 well">
      <span>Email: {{user.email}}</span>
      <span style="display:block" >School/Workplace: {{user.workplace}} </span>
    </div>
  </div>
</div>
{{> suggestedSidebar}}
</div>
</div>

{{> scripts}}
<script>
$('#imgprof').html('<img class="img-thumbnail" src="' + get_gravatar("{{user.email}}", 180)+'">');
</script>
{{> footer}}
