<link rel="stylesheet" type="text/css" href="css/search.css">
<div class="container">
	<div class="col-sm-12 col-md-offset-1 col-md-12 main">
	  
		<div class="row">
			<div class="col-sm-7 col-md-7">
				<div class="form-group">
					<div class="right-inner-addon">
						<i class="glyphicon glyphicon-search"></i>
						<input type="search" class="form-control" placeholder="Search" />
					</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
					<a href="#" class="btn btn-default" role="button">Municipality</a>
					<a href="#" class="btn btn-default" role="button">District</a>
				</div>
			</div>
		</div>
			
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
					<a href="#" class="btn btn-default" role="button">Events</a>
					<a href="#" class="btn btn-default" role="button">Organizations</a>
				</div>
			</div>
			
			<!-- Split button -->
			<div class="btn-group col-sm-4 col-md-4">
			  <button type="button" class="btn btn-default" style="width: 92%;">Causes</button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="#">Animal Welfare</a></li>
				<li><a href="#">Arts and Culture</a></li>
				<li><a href="#">Children</a></li>
				<li><a href="#">Civil Rights and Social Action</a></li>
				<li><a href="#">Disaster and Humanitarian Relief</a></li>
				<li><a href="#">Economic Empowerment</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Environment</a></li>
				<li><a href="#">Health</a></li>
				<li><a href="#">Human Rights</a></li>
				<li><a href="#">Politics</a></li>
				<li><a href="#">Poverty Alleviation</a></li>
				<li><a href="#">Science and Technology</a></li>
				<li><a href="#">Social Services</a></li>
			  </ul>
			</div>
			
			<div class="col-sm-5 col-md-5">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>
		</div>
			
		<div class="row">
			<hr>
		</div>
	</div>
</div>
