<link rel="stylesheet" type="text/css" href="css/search.css">
<div class="container">
	<div class="col-sm-12 col-md-offset-1 col-md-12 main">
	  
		<div class="row">
			<div class="col-sm-7 col-md-7">
				<div class="form-group">
					<div class="right-inner-addon">
						<i class="glyphicon glyphicon-search"></i>
						<input type="search" class="form-control" placeholder="Search" />
					</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
					<a href="#" class="btn btn-default" role="button">Municipality</a>
					<a href="#" class="btn btn-default" role="button">District</a>
					<a href="#" class="btn btn-default" role="button">Country</a>
				</div>
			</div>
		</div>
			
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<input type="checkbox" value="Events"> Events
				<input type="checkbox" value="Organizations"> Organizations
			</div>
				
			<div class="col-sm-4 col-md-4">
				<select>
					<option value="Animal Welfare">Animal Welfare</option>
					<option value="Arts and Culture">Arts and Culture</option>
					<option value="Children">Children</option>
					<option value="Civil Rights and Social Action">Civil Rights and Social Action</option>
					<option value="Disaster and Humanitarian Relief">Disaster and Humanitarian Relief</option>
					<option value="Economic Empowerment">Economic Empowerment</option>
					<option value="Education">Education</option>
					<option value="Environment">Environment</option>
					<option value="Health">Health</option>
					<option value="Human Rights">Human Rights</option>
					<option value="Politics">Politics</option>
					<option value="Poverty Alleviation">Poverty Alleviation</option>
					<option value="Science and Technology">Science and Technology</option>
					<option value="Social Services">Social Services</option>
					<option value="Other">Other</option>
				</select>
			</div>
			
			<div class="col-sm-5 col-md-5">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>
		</div>
			
		<div class="row">
			<hr>
		</div>
	</div>
</div>
