<link rel="stylesheet" type="text/css" href="css/search.css">

<div class="container">
  <div class="col-sm-12 col-md-offset-1 col-md-12 main">

    <div class="row">
      <div class="col-sm-7 col-md-7">
        <div class="form-group">
          <div class="right-inner-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input id="searchText" class="form-control" placeholder="Search" />
          </div>
        </div>
      </div>


      <div class="col-md-5">
        <div class="btn-group-justified" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="options" id="All" autocomplete="off" checked> All
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="Municipality" autocomplete="off" checked> Municipality
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="District" autocomplete="off"> District
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="btn-group-justified" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="options" id="Events" autocomplete="off" checked> Events
          </label>
          <label class="btn btn-default active">
            <input type="radio" name="options" id="Organizations" autocomplete="off"> Organizations
          </label>
        </div>
      </div>

      <!-- Split button -->
      <div class="btn-group col-sm-4 col-md-4">
        <button type="button" class="drop btn btn-default" style="width: 92%;">Causes</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Animal Welfare</a>
          </li>
          <li><a href="#">Arts and Culture</a>
          </li>
          <li><a href="#">Children</a>
          </li>
          <li><a href="#">Civil Rights and Social Action</a>
          </li>
          <li><a href="#">Disaster and Humanitarian Relief</a>
          </li>
          <li><a href="#">Economic Empowerment</a>
          </li>
          <li><a href="#">Education</a>
          </li>
          <li><a href="#">Environment</a>
          </li>
          <li><a href="#">Health</a>
          </li>
          <li><a href="#">Human Rights</a>
          </li>
          <li><a href="#">Politics</a>
          </li>
          <li><a href="#">Poverty Alleviation</a>
          </li>
          <li><a href="#">Science and Technology</a>
          </li>
          <li><a href="#">Social Services</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-5 col-md-5">
        <button id="searchButton" class="btn btn-primary btn-block">Search</button>
      </div>
    </div>

    <div class="row">
      <hr>

    </div>
  </div>
</div>