{{> header}}
<link rel="stylesheet" href="css/signin.css">
<div class="container">
  <h2 class="form-signin-heading text-center">Problems signing in?</h2>
  <h4 class="form-signin-heading text-center">Enter your registered email and <br>we’ll send instructions to get you back on your feet.</h4>
  <form class="form-signin" id="recoveryForm">
    <label>Registered email</label>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Send Email</button>
  </form>
</div>
<!-- /container -->
{{> scripts}}
<script src="js/recoveryRequest.js"></script>
{{> footer}}