{{> header}}
<link rel="stylesheet" href="css/signin.css">
<div class="container">
  <h2 class="form-signin-heading text-center">Reset password</h2>
  <h4 class="form-signin-heading text-center">Enter your new password and you will be back on your feet.</h4>
  <form class="form-signin" id="confirmationForm">
    <label>Password</label>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

          <input type="password" class="form-control" name="password" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <input type="password" class="form-control" name="confirmPassword" />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Reset</button>
  </form>
</div>
<!-- /container -->
{{> scripts}}
<script src="js/recoveryConfirmation.js"></script>
{{> footer}}